<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css"/>
</head>
<body>
<h1>Utilisateur:</h1><br>
<form method="post" th:object="${uti}" action="saveUtilisateur">
    <input disabled th:field="*{id}" placeholder="id">
    <input th:field="*{email}" placeholder="email">
    <input th:field="*{pseudo}" placeholder="pseudo">
    <input th:field="*{password}" placeholder="password">
    <input type="submit">
</form>
<h1>Publication:</h1><br>
<form method="post" th:object="${post}" action="/publication/save" enctype="multipart/form-data">
    <input disabled th:field="*{id}" placeholder="id">
    <input th:field="*{titre}" placeholder="Titre">
    <input th:field="*{description}" placeholder="Description">
    <label for="gratuit">Gratuit :</label>
    <input id="gratuit" type="checkbox" th:field="*{gratuit}" placeholder="Gratuit" checked>
    <div id="prixDiv" style="display: none;">
        <label for="prix">Prix :</label>
        <input id="prix" type="number" th:field="*{prix}">
    </div>
    <label for="publique">Publique :</label>
    <script>
        document.getElementById("gratuit").addEventListener("change", function() {
            var prixDiv = document.getElementById("prixDiv");
            if (this.checked) {
                prixDiv.style.display = "none";  // Masque le champ de prix si Gratuit est coché
            } else {
                prixDiv.style.display = "block"; // Affiche le champ de prix si Gratuit n'est pas coché
            }
        });
    </script>
    <input id="publique" type="checkbox" th:field="*{publique}" placeholder="Publique">
    <label for="image">Image :</label>
    <input id="image" type="file" th:field="*{image}" placeholder="Image" accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|image/*">
    <label for="fichier">Fichier :</label>
    <input id="fichier" type="file" th:field="*{fichier}" placeholder="Fichier 3D" accept=".obj, .3ds, .sldprt, .scad, .blend, .3mf, .gcode, .skp, .fbx">
    <input type="number" th:field="*{proprietaire}" placeholder="ID proprio">
    <input type="submit">
</form>
<h1>Avis:</h1><br>
<form method="post" th:object="${avis}" action="/publication/avis/save" enctype="multipart/form-data">
    <input disabled th:field="*{id}" placeholder="id">
    <input th:field="*{commentaire}" placeholder="Commentaire">
    <input type="number" min="1" max="5" th:field="*{etoile}" placeholder="Note">
    <input type="number" th:field="*{publication}" placeholder="Publication id">
    <input type="number" th:field="*{utilisateur}" placeholder="Utilisateur id">
    <input type="submit">
</form>
</body>
</html>