<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invalid Token</title>
    <style>
        body {
            background-color: #17282D;
            color: #00BA8D;
            font-family: Arial, sans-serif;
        }

        .container {
            text-align: center;
            margin-top: 50px;
        }

        h1 {
            color: #00BA8D;
        }

        p {
            color: #00BA8D;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Token Invalide</h1>
    <p>Le token fourni n'est pas valable.</p>
</div>
</body>
</html>
