<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Panier</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css"/>
</head>
<body>
    <form method="post" action="panier/creationPanier" th:object="${panier}">
        <input th:field="*{idPanier}" placeholder="id" type="hidden">
        <input th:field="*{prixTT}" type="number" placeholder="prixTTC">
        <label>
            Etat
            <input th:field="*{etat}" type="checkbox">
        </label>
        <button type="submit"> Créer</button>
    </form>

</body>
</html>